* {
	font: "Verdana", sans-serif;
	size: 20px;
	margin: 0;
	padding: 0;
}

body {
	background-color: skyblue;
}
h1 {
	background-color: palevioletred;
	size: 3rem;
}

#my-motto + img {
	height: 20vh;
	width: 20vh;
	border-radius: 150px;
}

#first {
	text-transform: uppercase;
}

#second {
	color: rebeccapurple;
}

section{
	height: 100vh;
	text-align: center;
}

p {
	color: yellow;
}

form{
	text-align: center;
	background-color: white;
	border: 2px solid black;
	height: 170px;
	width: 30vw;
	position: relative;
	left: 37%;
}
